@import url(style.css);

main>div.dark {
    background-color:var(--color-secundario);
}
section#menu.container {
    max-width: 75%;
}
main>div.dark>section>div.row {
    display: block;
    padding-bottom: 100px;
}
main section#menu h2 {
    color:white;
}
/* aside */
main section#menu div aside {
    margin-bottom: 3em;
    color: white;
}
main section#menu div aside ul {
    margin-bottom: 3em;
}
main section#menu div aside ul li a{
    display: block;
    font-weight: 700;
}
main section#menu div aside ul li a:first-child {
    margin-top: 0;
}


main section#menu div aside h3 {
    font-weight: 700;
}
main section#menu div aside hr {
    color: var(--color-principal) ;
    width:5em ;
    margin-left: 0;
}


/* articles */
main section#menu div.row>div:last-child {
    margin: 0 auto;
}
main section#menu div.row>div:last-child article div.row {
    flex-wrap: wrap;
    justify-content: space-between;
}
main section#menu div.row>div:last-child article div.row {
    padding: 1em 0 2.5em;
}
main section#menu div.row>div:last-child article div.row h3 {
    color: white;
    font-weight: 700;
}
main section#menu div.row>div:last-child article div.row p {
    font-weight: 700;
    color: var(--color-principal);
}
main section#menu div.row>div:last-child article div.row h4 {
 padding: 0.5em 0;
 width: 100%;
 color: white;
} 
main section#menu div.row>div:last-child article div.row button {
    background-color: var(--color-secundario);
    border: none;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
@media(min-width: 48em) {
    main>div.dark>section#menu.container>div.row:nth-child(3) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    main section#menu>div.row>aside {
        width: 40%;
    }
    main section#menu>div.row>div:last-child {
        width: 50%;
        margin: 0;
    }
    main section#menu div.row>div:last-child article div.row h3 {
        width: 85%;
    }
}
@media(min-width: 75.000em) {
    
    main section#menu>div.row>aside {
        width: 30%;
    }
    main section#menu>div.row>div:last-child {
        width: 60%;
        margin: 0;
    }
    main section#menu>div.row>div:last-child article {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 2em;
    }
    main section#menu>div.row>div:last-child article img {
        width: 18em;
        margin-right: 1em;
    }
    main section#menu>div.row>div:last-child article div {
        width: 60%;
        font-size: 1.3em;
    }
    main section#menu div.row > div:last-child article div.row {
        padding: 0;
    }
}